.register {
    >>> .back .backIcon {
        color: #fff !important;
    }
    background-image: linear-gradient(135deg,#3391c9, #82d2e8);

    .registerIcon {
        position: absolute;
        left: 50%;
        margin-top: 50px;
        transform: translate(-50%, 0);
        width: 40vw;
    }

    input {
        position: relative;
        margin-left: 15vw;
        margin-bottom: 10px;
        width: 70vw;
        height: 40px;
        border: initial;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        background-color: initial;
        color: #fff;
        font-size: 10px;
    }
    input::placeholder {
        color: #fff;
    }
    .account {
        margin-top: 240px;
    }
    .submit {
        position: relative;
        margin-top: 30px;
        left: 15vw;
        width: 70vw;
        height: 40px;
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: 20px;
        text-align: center;
        font-size: 12px;
        line-height: 40px;
        color: #fff;
    }

    .getCode {
        position: absolute;
        margin-top: -45px;
        right: 15vw;
        height: 28px;
        width: 80px;
        border: 1px solid #fff;
        border-radius: 14px;
        font-size: 10px;
        line-height: 30px;
        text-align: center;
        color: #fff;
    }
}