.goodsDetail {
    .back {
        z-index: 999;
        >>> .backIcon {
            color: #fff;
        }
        >>> .backIcon::after {
            display: inline-block;
            position: absolute;
            left: -2px;
            top: 6px;
            content: "";
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, .3);
            z-index: -1;
            border-radius: 15px;
        }
    }

    .cover {
        height: 300px;
        background-color: #eee;
        .custom-indicator {
            position: absolute;
            right: 15px;
            bottom: 25px;
            padding: 4px 10px;
            font-size: 12px;
            background-color: rgba(0, 0, 0, .3);
            color: #fff;
            border-radius: 12px;
        }
        .van-swipe__track {
            .van-swipe-item {
                height: 100%;
                background-position: center !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
            }
        }
    }

    .goodsInfo {
        position: relative;
        margin-top: -10px;
        padding: 15px;
        width: 100%;
        background-color: #fff;
        border-radius: 15px 15px 0 0;
        box-sizing: border-box;
        .mainTitle {
            font-size: 18px;
            line-height: 28px;
            font-weight: 600;
        }
        .subTitle {
            margin-top: 15px;
            font-size: 14px;
            line-height: 14px;
            color: #e2e1e1;
        }
        .priceAndsalesVolume {
            margin-top: 15px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e2e1e1;
            .noDiscount,.haveDiscount {
                color: #F24B08;
                font-size: 26px;
                font-weight: 600;
                line-height: 26px;
                span {
                    font-size: 18px;
                }
                span:nth-child(2) {
                    margin-left: 10px;
                    font-size: 12px;
                    color: #e2e1e1;
                    font-weight: normal;
                    text-decoration: line-through;
                }
            }
            .salesVolume {
                float: right;
                margin-top: -20px;
                font-size: 12px;
                line-height: 12px;
                color: #e2e1e1;
            }
        }
    }
    .specifications,.address,.evaluate {
        padding: .4rem;
        width: 100%;
        clear: both;
        box-sizing: border-box;
        >div {
            display: inline-block;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 15px;
        }
        .label {
            float: left;
            color: #e2e1e1;
        }
        .value {
            float: right;
        }
        .van-icon {
            float: right;
        }
    }
    .detail {
        padding: 30px 15px 80px;
        width: 100%;
        box-sizing: border-box;
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        z-index: 999;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
        background-color: #fff;
        >div {
            float: right;
            display: inline-block;
            margin-right: 15px;
            margin-top: 10px;
            width: 100px;
            height: 40px;
            background-color: #82d2e8;
            text-align: center;
            line-height: 40px;
            border-radius: 20px;
            color: #fff;
        }
    }

    .sku {
        z-index: 1000;
        .wrapper {
            position: absolute;
            top: 20vh;
            bottom: 0;
            padding: 15px;
            width: 100%;
            overflow-y: auto;
            background-color: #fff;
            border-radius: 20px 20px 0 0;
            box-sizing: border-box;
            .cover {
                margin-right: 15px;
                float: left;
                width: 100px;
                height: 100px;
                background-color: #eee;
                border-radius: 10px;
                object-fit: cover;
            }
            .price {
                color: #F10A24;
                font-size: 22px;
                line-height: 22px;
                span:first-child {
                    font-size: 14px;
                }
            }
            .stock,.selected {
                font-size: 12px;
                color: #9697B3;
            }
            .selected {
                margin-top: 20px;
            }
            .attr {
                padding: 15px 0;
                box-sizing: border-box;
                .attrKey {
                    font-size: 14px;
                    line-height: 14px;
                }
                .attrValue {
                    display: inline-block;
                    margin-top: 10px;
                    margin-right: 10px;
                    padding: 0 5px;
                    height: 30px;
                    background-color: #F7F8FA;
                    border-radius: 4px;
                    img {
                        float: left;
                        margin-top: 5px;
                        margin-right: 5px;
                        height: 20px;
                        width: 20px;
                        object-fit: cover;
                        border-radius: 2px;
                    }
                    .name {
                        display: inline-block;
                        height: 30px;
                        font-size: 12px;
                        line-height: 30px;
                    }
                }
                .active {
                    background-color: #82d2e8;
                    color: #143f4b;
                }
                .disable {
                    opacity: .4;
                }
            }
        }
    }
}