.goodsDetail {
    .back {
        z-index: 999;
        >>> .backIcon {
            color: #fff;
        }
        >>> .backIcon::after {
            display: inline-block;
            position: absolute;
            left: -2px;
            top: 6px;
            content: "";
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, .3);
            z-index: -1;
            border-radius: 15px;
        }
    }

    .cover {
        height: 300px;
        background-color: #eee;
        .custom-indicator {
            position: absolute;
            right: 15px;
            bottom: 25px;
            padding: 4px 10px;
            font-size: 12px;
            background-color: rgba(0, 0, 0, .3);
            color: #fff;
            border-radius: 12px;
        }
    }

    .goodsInfo {
        position: relative;
        margin-top: -10px;
        padding: 15px;
        width: 100%;
        background-color: #fff;
        border-radius: 15px 15px 0 0;
        box-sizing: border-box;
        .mainTitle {
            font-size: 18px;
            line-height: 28px;
            font-weight: 600;
        }
        .subTitle {
            margin-top: 15px;
            font-size: 14px;
            line-height: 14px;
            color: #e2e1e1;
        }
        .priceAndsalesVolume {
            margin-top: 15px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e2e1e1;
            .noDiscount,.haveDiscount {
                color: #F24B08;
                font-size: 26px;
                font-weight: 600;
                line-height: 26px;
                span {
                    font-size: 18px;
                }
                span:nth-child(2) {
                    margin-left: 10px;
                    font-size: 12px;
                    color: #e2e1e1;
                    font-weight: normal;
                    text-decoration: line-through;
                }
            }
            .salesVolume {
                float: right;
                margin-top: -20px;
                font-size: 12px;
                line-height: 12px;
                color: #e2e1e1;
            }
        }
    }
}