.order {
    .back {
        background-color: #fff;
        z-index: 999;
    }
    .tabs {
        position: fixed;
        margin-top: 45px;
        width: 100vw;
        z-index: 3;
    }
    >>>.van-tabs__line {
        background-color: #3391c9;
    }
    .list {
        position: absolute;
        top: 100px;
        z-index: 1;
        .item {
            display: inline-block;
            padding: 15px;
            margin-left: 15px;
            margin-bottom: 15px;
            width: calc(100% - 30px);
            background-color: rgb(243, 243, 243);
            box-sizing: border-box;
            border-radius: 10px;
            .time {
                float: left;
                font-size: 14px;
                line-height: 14px;
            }
            .orderStatus {
                float: right;
                font-size: 12px;
                line-height: 14px;
            }
            img {
                margin-top: 15px;
                margin-right: 5px;
                width: 50px;
                height: 50px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
    .none {
        position: fixed;
        line-height: 100vh;
        text-align: center;
        width: 100%;
        font-size: 16px;
        z-index: -1;
    }
}