.refunds {
    padding-top: 50px;
    box-sizing: border-box;
    .orderId {
        position: relative;
        margin-left: 15px;
        font-size: 12px;
        color: #9e9e9e;
    }
    .cause {
        margin-top: 20px;
    }
    .description {
    }
    >>>.van-cell__title {
        width: initial;
    }
    .submit {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        width: auto;
        height: 40px;
        background-color: #3391c9;
        color: #fff;
        line-height: 40px;
        text-align: center;
        font-size: 12px;
        border-radius: 20px;
    }
}