.cart {
    .list {
        padding-bottom: 122px;
        .goods-card {
            margin: 0;
            background-color: #fff;
        }
        .delete-button {
            height: 100%;
        }
        .van-swipe-cell {
            position: relative;
            .checkbox {
                display: inline-block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                z-index: 999;
            }
            .card {
                padding-left: 30px;
                padding-right: 0;
                .van-card__title {
                    font-size: 16px;
                    line-height: 20px;
                    max-height: initial;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .van-card__desc {
                    margin-top: 5px;
                }
            }
            .noneStock {
                position: absolute;
                right: 0;
                bottom: 10px;
                font-size: 14px;
                line-height: 14px;
            }
        }
        .disabled {
            opacity: .6;
        }
    }
    .submitBar {
        position: fixed;
        bottom: 62px;
    }
    >>>.van-checkbox__icon--checked .van-icon {
        background-color: #3391c9;
        border-color: #3391c9;
    }
    >>>.van-button--normal {
        padding-left: 12px;
    }
    >>>.van-stepper {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}