.home {
    width: 100vw;
    height: 100%;
    .header {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;
        padding: 0 30px;
        width: 100%;
        height: 45px;
        box-sizing: border-box;
        .searchBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 100%;
            background-color: #EFF6FC;
            border-radius: 15px;
            font-size: 12px;
            line-height: 30px;
            color: #747472;
            z-index: 999;
            .icon {
                margin-right: 3px;
                font-size: 14px;
            }
        }
    }
    .headerBgWhite {
        background-color: #fff;
    }
    .hotBgImg {
        position: fixed;
        top: 0;
        z-index: -1;
        width: 100vw;
        height: 205px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: .5;
        }
    }
    .hot {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 45px;
        width: 100vw;
        height: 160px;
        .swipe {
            width: calc(100% - 30px);
            height: 140px;
            border-radius: 10px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .classify {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100px;
        background-color: #fff;
        .item {
            position: relative;
            width: 25%;
            height: 100%;
            .iconfont {
                position: absolute;
                left: 50%;
                margin-top: 20px;
                transform: translate(-50%, 0);
                margin-top: 16px;
                width: 42px;
            }
            .label {
                position: absolute;
                left: 50%;
                bottom: 23px;
                transform: translate(-50%, 0);
                font-size: 12px;
            }
        }
    }
    .list {
        padding-bottom: 64px;
    }
}