.home {
    width: 100vw;
    height: 100%;
    .header {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;
        padding: 0 30px;
        width: 100%;
        height: 45px;
        box-sizing: border-box;
        .searchBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 100%;
            background-color: #EFF6FC;
            border-radius: 15px;
            font-size: 12px;
            line-height: 30px;
            color: #747472;
            z-index: 999;
            .icon {
                margin-right: 3px;
                font-size: 14px;
            }
        }
    }
    .headerBgWhite {
        background-color: #fff;
    }
    .hotBgImg {
        position: fixed;
        top: 0;
        z-index: -1;
        width: 100vw;
        height: 205px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: brightness(0.5) blur(1px);
        }
    }
    .hot {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 45px;
        width: 100vw;
        height: 160px;
        .swipe {
            width: calc(100% - 30px);
            height: 140px;
            border-radius: 10px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .classify {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100px;
        background-color: #fff;
        .item {
            position: relative;
            width: 25%;
            height: 100%;
            .icon {
                position: absolute;
                left: 50%;
                margin-top: 50%;
                transform: translate(-50%, -50%);
                width: 42px;
            }
            .label {
                position: absolute;
                left: 50%;
                bottom: 20px;
                width: 100%;
                text-align: center;
                transform: translate(-50%, 0);
                font-size: 12px;
            }
        }
    }
    .allClassify {
        .inner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: .5vw 0 2.5vw 0;
            width: 70vw;
            height: 70vw;
            background-color: #fff;
            border-radius: 10px;
            overflow-y: auto;
            box-sizing: border-box;
            .item {
                display: inline-block;
                position: relative;
                margin-left: 2.5vw;
                margin-top: 2.5vw;
                width: 20vw;
                height: 20vw;
                .icon {
                    position: absolute;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%, -50%);
                    width: 40px;
                }
                .title {
                    position: absolute;
                    bottom: 5px;
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                    line-height: 12px;
                }
            }
            .active {
                padding: 10px 0;
                border: 1px solid #82d2e8;
                box-sizing: border-box;
                border-radius: 10px;
                .icon {
                    width: 50px;
                }
            }
        }
    }
    .list {
        padding-bottom: 64px;
        background-color: #fff;
        .item {
            position: relative;
            display: inline-block;
            padding: 0;
            margin-bottom: 7.5px;
            width: 50%;
            height: 200px;
            border-radius: 15px;
            box-sizing: border-box;
            overflow: hidden;
            .cover {
                width: 100%;
                height: 200px;
                object-fit: cover;
                background-color: #eee;
                vertical-align: bottom;
                border-radius: 15px;
            }
            .info {
                position: absolute;
                bottom: 0;
                padding: 10px;
                width: 100%;
                height: 50px;
                background-color: rgba(0,0,0,.8);
                color: #fff;
                box-sizing: border-box;
                border-radius: 0 0 10px 10px;
                .title {
                    position: absolute;
                    width: 100%;
                    font-size: 14px;
                    line-height: 14px;
                }
                .price {
                    position: absolute;
                    bottom: 0;
                    >div {
                        display: inline-block;
                    }
                    .originalPrice {
                        font-size: 16px;
                    }
                    .discountPrice {
                        margin-left: 5px;
                        font-size: 12px;
                    }
                    .lineThrough {
                        text-decoration: line-through;
                    }
                }
            }
        }
        .item:nth-child(2n+1) {
            padding-left: 15px;
            padding-right: 7.5px;
        }
        .item:nth-child(2n) {
            padding-left: 7.5px;
            padding-right: 15px;
        }
    }
}