.fullscreen {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.singleLineOmission {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.multipleLinesOmitted {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.clearBoth {
    clear: both;
}

[v-cloak] {
    display: none;
}