@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.ttf?t=1604480833659') format('truetype')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconpingjiaguanli:before {
    content: "\e63c";
  }
  
  .iconyue:before {
    content: "\e614";
  }
  
  .iconshoucang:before {
    content: "\e603";
  }
  
  .icondingdanyichenggong:before {
    content: "\e899";
  }
  
  .iconfenlei:before {
    content: "\e623";
  }
  
  .iconshuiguo:before {
    content: "\e60e";
  }
  
  .iconlingshi_kaochang:before {
    content: "\e610";
  }
  
  .iconnoodle:before {
    content: "\e72d";
  }
  
  .iconxihuyongpin:before {
    content: "\e6d3";
  }
  
  .iconshangcheng:before {
    content: "\e63b";
  }
  
  .icongouwucheshangcheng-xianxing:before {
    content: "\e7a9";
  }
  
  .iconbiaoqianA01_wode-80:before {
    content: "\eac7";
  }
  
  

