.evaluate {
    overflow: hidden;
    .goodsInfo {
        position: relative;
        margin-top: 60px;
        margin-left: 15px;
        font-size: 18px;
    }
    .rate {
        margin-top: 50px;
    }
    .comment {
        margin-top: 20px;
    }
    .submit {
        position: fixed;
        left: 15px;
        right: 15px;
        bottom: 15px;
        height: 40px;
        width: auto;
        background-color: #3391c9;
        color: #fff;
        font-size: 12px;
        line-height: 40px;
        text-align: center;
        border-radius: 20px;
    }
}