.search {
    .header {
        position: fixed;
        top: 0;
        height: 45px;
        width: 100%;
        line-height: 45px;
        text-align: center;
        background-color: #fff;
        z-index: 999;
        .backIcon {
            position: absolute;
            left: 10px;
            height: 100%;
            font-size: 22px;
            line-height: 45px;
            color: #000;
        }
        .search {
            position: absolute;
            left: 50px;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            padding: initial;
            .van-search__action {
                padding-right: 15px;
            }
        }
    }
    .list {
        position: relative;
        margin-top: 45px;
        .item {
            position: relative;
            .cover {
                width: 100px;
                height: 100px;
                background-color: #eee;
                vertical-align: bottom;
                border-radius: 10px;
            }
            .mainTitle {
                position: absolute;
                top: -2px;
                margin-left: 110px;
                font-size: 14px;
                line-height: 20px;
            }
            .price {
                position: absolute;
                bottom: 0;
                margin-left: 110px;
                line-height: 16px;
                >div {
                    display: inline-block;
                }
                .originalPrice {
                    font-size: 16px;
                }
                .discountPrice {
                    margin-left: 5px;
                    font-size: 12px;
                    line-height: 12px;
                }
                .lineThrough {
                    text-decoration: line-through;
                }
            }
        }
    }
}