.my {
    .header {
        position: relative;
        padding: 0 15px;
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        z-index: 999;
        background-color: #fff;
        .avatar {
            position: absolute;
            top: 50%;
            margin-top: -30px;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: #eee;
            object-fit: cover;
        }
        .name {
            position: absolute;
            margin-left: 70px;
            font-size: 14px;
            line-height: 100px;
        }
        .logout {
            position: fixed;
            top: 40px;
            right: 15px;
            font-size: 24px;
        }
        .changeNamePopup {
            width: 80vw;
            height: 200px;
            border-radius: 10px;
            input {
                position: absolute;
                left: 10%;
                top: 20%;
                height: 30px;
                width: 80%;
                text-indent: 10px;
                border: none;
                border: 1px solid rgb(223, 223, 223);
                box-shadow: none;
                border-radius: 5px;;
            }
            .changeNameBtn {
                position: absolute;
                bottom: 20%;
                width: 100%;
                text-align: center;
                color: #3391c9;
            }
        }
    }
    .menu {
        position: absolute;
        left: 0;
        width: 100%;
        .item {
            position: relative;
            margin-bottom: 5px;
            padding: 0 15px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            box-sizing: border-box;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .05);
            background-color: #fff;
            .iconfont {
                float: left;
                font-size: 24px;
            }
            .label {
                float: left;
                margin-left: 10px;
                font-size: 14px;
            }
            .van-icon {
                float: right;
                line-height: 50px;
                font-size: 12px;
            }
        }
        .item:last-child {
            box-shadow: none;
        }
    }
}