.my {
    .header {
        position: relative;
        padding: 0 15px;
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        .avatar {
            position: absolute;
            top: 50%;
            margin-top: -30px;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: #eee;
            object-fit: cover;
        }
        .name {
            position: absolute;
            margin-left: 70px;
            font-size: 14px;
            line-height: 100px;
        }
        .arrow {
            position: absolute;
            right: 15px;
            font-size: 16px;
            line-height: 100px;
        }
    }
}